@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron homepage-jumbotron">
    <h1 class="text-center">Welcome to our library</h1>
    <p class="text-center">Book Heaven is your number one source for acquiring new knowledge in any area of life.</p>
</div>

<div class="container">
    <hr class="featurette-divider">

    <div class="row">
        <div class="featurette" id="about">
            <img alt="Bookstore" class="featurette-image img-circle img-responsive pull-right" src='@WebConstants.HomePageBookStoreImageUrl'/>
            <div class="col-md-8">
                <h2 class="featurette-heading text-center">
                The most extensive collection of books on the Internet
                </h2>
                <p class="lead text-center">
                    Whether you are looking for a history book to expand your area of knowledge on a subject, or just want to lay back on a sunny afternoon
                    with a book in your hands, Book Heaven is the place for you!
                </p>
            </div>
        </div>
    </div>
</div>