<ul class="nav navbar-nav navbar-collapse publisher-links-nav">
    <li>
        <a asp-action="All" class="item btn-block">Published Books</a>
    </li>
    <li>

        <a asp-action="Create" class="item btn-block">Publish New Book</a>
    </li>
    <li>
        <a asp-action="Sales" class="item btn-block">Sales</a>
    </li>
</ul>