<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="img/ico" href="@ResourceConstants.FaviconImageUrl">
    <title>@ViewData["Title"] - Book Heaven</title>

    @await Html.PartialAsync("_StyleLinksPartial")
</head>
<body class="admin-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-lg-2">
                <nav class="navbar navbar-inverse navbar-fixed-side">
                    <div class="navbar-header">
                        <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Book Heaven</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="">
                                <a asp-controller="Home" asp-action="Index">Site Statistics</a>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Users</a>
                                <ul class="dropdown-menu">
                                    <li><a asp-controller="Users" asp-action="All">All</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Categories</a>
                                <ul class="dropdown-menu">
                                    <li><a asp-controller="Categories" asp-action="All">All</a></li>
                                </ul>
                            </li>
                            <li>
                                <form method="post" asp-area="" asp-controller="Account" asp-action="Logout">
                                    <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col-sm-9 col-lg-10">
                <div class="body-content admin-container">
                    @await Html.PartialAsync("_StatusMessagesPartial")
                    @RenderBody()
                    <hr />
                    <footer>
                        <p class="pull-right">&copy; 2017 - Book Heaven</p>
                    </footer>
                </div>
            </div>
        </div>
    </div>

    @await Html.PartialAsync("_ScriptLinksPartial")

    @RenderSection("Scripts", required: false)
</body>
</html>