@model BookSearchComponentModel
<form method="get" asp-area="" asp-controller="Books" asp-action="Search" class="navbar-form">
    <div class="form-group-sm">
        <input asp-for="SearchTerm" placeholder="Search..." class="form-control" />
        <button type="submit" class="btn btn-info btn-sm">Search</button>
        <select class="selectpicker" data-style="btn-sm" data-actions-box="true" title="Select categories..." asp-for="Categories" asp-items="@Model.AllCategories"></select>
    </div>
</form>