@model CategoryAllPageViewModel
@{
    ViewData["Title"] = "All Categories";
}

<h2>@ViewData["Title"]</h2>
<hr />

<form method="post" asp-action="Create">
    <div class="row">
        <div class="col-md-2">
            <div class="category-label">Create Category</div>
        </div>
        <section>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-5">
                        <input class="form-control" asp-for="CategoryCreateModel.Name" />
                        <span class="text-danger" asp-validation-for="CategoryCreateModel.Name"></span>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-success btn-block" type="submit">Create</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</form>

<hr />

<ul>
    <div class="row">
        @foreach (var category in Model.AllCategories)
        {
            <li>
                <div class="col-md-4">
                    <div class="well">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="category-label">@category.Name</div>
                                <div class="text-uppercase"> Total Books : @category.Books</div>
                            </div>
                            <div class="col-md-2">
                                <i class="glyphicon glyphicon-edit" style="font-size: 1.6em"></i>
                                <i class="glyphicon glyphicon-remove" style="font-size: 1.6em"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        }
    </div>
</ul>

@section Scripts
    {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

